@media screen and (max-width: 400px) {

    /** CSS-Datei für Anpassungen der mobilen Darstellung */

    body {
        width: 160vw;
    }

    p {
        font-size: x-large;
    }

    a:link,
    a:visited {
        text-decoration: none;
        color: #000000;
    }

    a:hover,
    a:active {
        text-decoration: none;
        color: #0ab13a;
    }

    h3 {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 5%;
        font-size: x-large;
    }

    /**----------------------------------------- Design-Anpassungen des Headers--------------------------------------------------*/

    .flex-weba-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: normal;
        background-color: rgb(247, 248, 203);
    }

    .flex-weba-header-child1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    .flex-weba-header-child3 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-content: space-around;
    }

    .flex-weba-header-child2 {
        display: none;
    }

    #title-text {
        padding: 2px;
        font-size: 24px;
        margin-left: 4px;

    }

    #header-logo {
        margin-left: 1vh;
        height: 10vh;
    }

    .logo {
        padding: 2px;
        height: 6vh;
        margin-left: 1vh;
    }

    .flex-weba-header-child3 ul {
        display: flex;
        padding: 0;
        list-style: none;
        align-items: center;
        justify-content: center;
    }

    li {
        list-style: none;
        margin-right: 10px;
    }



    #header-user-pic {
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        margin-left: 2vh;
    }

    .header-logged-in {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
    }

    /**----------------------------------------- Design-Anpassungen des Footers --------------------------------------------------*/

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 2.5%;
        padding: 2.5%;
        background-image: url("../images/leaf.png");
        background-size: inherit;
        background-color: #a5dab2;
    }

    .combined-footer-flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navi-logo-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px 20%;
        margin: 5%;
        padding: 2.5%;
        background-color: #b3b3b3;
    }

    .logo-titel-box {
        display: flex;
        order: 4;
        align-items: center;
    }

    .flex-items-pageUp {
        order: 5;
        display: flex;
        align-self: flex-end;
    }

    .social-media-box {
        display: flex;
        justify-content: center;
        gap: 15%;
    }


    /** Seite hoch-Symbol und Icons im Footer**/
    .pageUp,
    .footerElements {
        width: 16vw;
    }


    /**------------------------ Design-Anpassungen der Startseite------------------------------------ */


    .startseite-container {
        position: relative;
        text-align: center;
    }

    .centered-right {
        bottom: 20px;
        right: 20px;
        padding-left: 5%;
        padding-right: 5%;
        color: #4b4b4b;
        font-size: x-large;
    }

    .motivation-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: normal;
        align-content: normal;
    }


    .motivation-container:nth-child(3) {
        max-width: 90%;
    }

    #motiavtion-text {
        line-height: 1.65;
        text-align: justify;
        padding-left: 1em;
        padding-bottom: 1em;
        padding-right: 1em;
    }

    #motivation-pic {
        height: 6vw;
    }

    .h4 {
        font-size: 28px;
    }

    #startseite-ueberschrift {
        text-align: left;
        margin: 2vh;
        font-size: 7vh;
    }

    /** Überschrift **/
    .startseite-kundenmeinungen>h2 {
        text-align: left;
        font-size: 6vh;
        margin: 2vh;
        margin-right: auto;
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: flex-start;
        order: 0;
    }

    .startseite-kundenmeinungen>button {
        margin-top: 1vh;
    }

    /** Bild oben auf der Startseite **/
    #startseite-pic {
        width: 150vw;
    }

    /** Container mit Überschrift, flexbox für KM und Registrierknopf */
    .startseite-kundenmeinungen {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }


    /** Container mit KM */
    .flex-kundenmeinungen {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: center;
        padding: 10px;
        background: beige;
    }

    .flex-kundenmeinungen p {
        text-align: center;
    }

    figure>p {
        max-width: 120px;
    }

    #kunde-pic-1,
    #kunde-pic-2,
    #kunde-pic-3 {
        width: 19vh;
        height: 19vh;
        border-radius: 50%;

    }


    .flex-kundemeinung-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
    }

    /**------------------- Login-, Registrieren-, Onboarding-Seite Gestaltung--------------------- */
    .login-container,
    .registrieren-container,
    .onboarding-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-kasten,
    .registrieren-kasten,
    .onboarding-kasten,
    .log-reg-kasten,
    .onb-kasten-innen {
        display: flex;
        flex-direction: column;
        margin: 5% 0;
        width: 100%;
    }

    .onb-text-pb-box {
        display: flex;
        justify-content: space-between;
        margin: 2.5% 10%;
    }

    .log-reg-kasten,
    .onb-kasten-innen {
        margin: 0;
    }

    .log-reg-text,
    .log-reg-h1 {
        margin-left: 10%;
    }

    .log-reg-on-eingabefelder {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 5% 0;
        width: 80%;
        align-self: center;
    }

    .log-reg-on-input,
    .plz-input,
    .stadt-input {
        padding: 20px;
        font-size: large;
    }

    .log-reg-buttons,
    .log-reg-on-buttons,
    #back-button {
        background-color: #b3b3b3;
        border: 2px solid #4b4b4b;
        color: white;
        /* Text-Farbe */
        padding: 10px 20px;
        /* wie viel Button um Text herum ist, höhe breite */
        text-align: center;
        display: inline-block;
        font-size: large;
        border-radius: 2px;
        /* rundet den Button leicht ab*/
    }

    .log-reg-on-buttons {
        padding: 10px 40px;
        align-self: center;
    }

    /** Button wird blau bei hover */
    .log-reg-buttons:hover,
    .log-reg-on-buttons:hover,
    #back-button:hover {
        background-color: #a8d1d6;
    }

    .log-reg-on-bild-kasten {
        display: flex;
        justify-content: center;
    }

    #login_pic {
        width: 150vw;
    }

    .adress-daten {
        display: flex;
    }

    .plz-input {
        margin-right: 10px;
        width: 30%;
    }

    .stadt-input {
        width: 70%;
    }

    #registrieren_pic,
    #onboarding_pic {
        width: 95%
    }

    #onboarding-pb {
        border-radius: 50%;
        height: 15vh;
        border: 2px solid #aba9aa;
        align-self: center;
    }

    /**---------------------Gestaltung beider Profil Seiten------------------*/

    /* Alles umfassender Container für die Profilseiten */
    .profil-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 5% 0;
        background-color: rgb(174, 238, 217);
    }

    .profil-daten-kasten {
        display: flex;
        flex-direction: column;
    }

    .profil-oben-kasten {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5%;
        margin-bottom: 5%;
        background-color: rgb(87, 156, 133);
    }

    .h2-profil {
        margin-left: 5%;
        font-size: xx-large;
    }

    .profilbild-kasten {
        display: flex;
        flex-direction: column;
        margin: 2.5% 0 5% 0;
        align-items: center;
    }

    .pb-profil {
        height: 40vh;
        border-radius: 60px;
        border-color: rgb(87, 156, 133);
        border-style: solid;
        margin-bottom: 3%;
    }

    .profil-daten-box {
        display: flex;
    }

    /* Kasten für alle Informationen des Users */
    .profil-kasten {
        display: flex;
        flex-direction: column;
        font-size: large;
        justify-content: space-between;
        margin: 2.5%;
    }

    
    .nutzer-angaben-kasten {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: beige;
        padding: 2.5%;
    }

    /* Kasten für die beschreibenden Textfelder */
    .flex-fremd-profildaten-beschreibung, .flex-dein-profildaten-beschreibung {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 30px;
        width: 35%;
    }

    .flex-fremd-profildaten-beschreibung {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        width: 35%;
    }

      /* Kasten für Angaben im Fremdprofil*/
     .flex-fremdprofil-daten {
        display: flex;
        flex-direction: column;
        text-align: end;
        gap: 10px;
        width: 50%;
    }

    /* Kasten für die Eingabefelder */
    .flex-profil-eingaben {
        display: flex;
        flex-direction: column;
        gap: 39px;
        width: 48%;
        margin-left: 5%;
        margin-top: 2%;
    }
    
    /* styled die Eingabe-Felder */
    .profil-daten-input {
        padding: 20px;
        font-size: large;
    }

    .flex-profil-schloss-icons {
        display: flex;
        flex-direction: column;
        gap: 10.5%;
        margin-top: 4%;
        margin-left: 2%;
    }

   
    .profil-buttons-unten-reihe {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        margin: 5%;
        gap: 20px;
    }

    .zurück-hauptseite-button,
    .profil-buttons-unten,
    .pb-ändern-button {
        background-color: #b3b3b3;
        border: 2px solid #4b4b4b;
        color: white;
        padding: 10px 40px;
        text-align: center;
        display: inline-block;
        font-size: large;
        border-radius: 2px;
    }

    .pb-ändern-button {
        padding: 10px 40px;
    }

}