/** CSS-Datei zum stylen von unseren Website-Komponenten */


/**----------------------------------------- Design-Anpassungen des Headers--------------------------------------------------*/

.flex-weba-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: normal;
}

.flex-weba-header-child1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.flex-weba-header-child2,
.flex-weba-header-child3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}

#title-text {
    padding: 2px;
    font-size: 2vh;
    margin-left: 4px;

}

#header-logo {
    margin-left: 1vh;
    height: 52px;
}

.logo {
    padding: 2px;
    height: 6vh;
    margin-left: 1vh;
}

.flex-weba-header-child3 ul {
    display: flex;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
    margin-right: 10px;
}

li:last-child {
    margin-right: 0px;
}


#header-user-pic {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    margin-left: 2vh;
}

.header-logged-in {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}


/**----------------------------------------- Design-Anpassungen des Footers --------------------------------------------------*/

.footer-flex-container {
    background-color: rgb(172, 171, 171);
    border-style: hidden;
    height: 10%;
    width: 90%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.flex-items:nth-child(1),
.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.flex-items:nth-child(4) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.flex-items:nth-child(5) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

/** beinhaltet die Flexbox Webseiten-Logo/Titel und die Social-Media-Flexbox*/
.combined-footer-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

/** 2 beinhaltet Logo/Titel*/
/** 3 beinhaltet das Instagram, Facebook und Twitter-Logo*/
.second-footer-flex-container,
.third-footer-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;

}


/** Seite hoch-Symbol**/
.pageUp {
    width: 40px;
}

.footerElements {
    width: 40px;
}

/**------------------------ Design-Anpassungen der Startseite------------------------------------ */

.startseite-container {
    position: relative;
    text-align: center;
}

.centered-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-size: large;
}

.motiavtion-text {
    line-height: 1.65;
    text-align: justify;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}

.h4 {
    font-size: 28px;
}

#startseite-ueberschrift {
    text-align: left;
    margin: 2vh;
    font-size: 7vh;
}

/** Überschrift **/
#startseite-kundenm {
    text-align: left;
    font-size: 6vh;
    margin: 2vh;
    margin-right: auto;
}

/** Bild oben auf der Startseite **/
#startseite-pic {
    width: 100%;
}

/** Container mit Überschrift, flexbox für KM und Registrierknopf */
.startseite-kundenmeinungen {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

/** Container mit KM */
.flex-kundenmeinungen {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    padding: 15px;
}

/** 3 Flex-Boxen für Bild + Kundenmeinung */
.flex-items:nth-child(1),
.flex-items:nth-child(2) .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    padding: 0 12px;
    margin-left: 4vh;
}

/** Bild in Flexbox */
.flex-it:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    order: 0;
}

/** Text in Flexbox Kundenmeinung */
.flex-it:nth-child(2) {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    text-align: center;
    font-size: 1em;
    width: 23%;
}

#kunde-pic-1,
#kunde-pic-2,
#kunde-pic-3 {
    vertical-align: middle;
    width: 12vh;
    height: 18vh;
    border-radius: 50%;
}


.flex-kundemeinung-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

/**------------------- Login-, Registrieren-, Onboarding-Seite Gestaltung--------------------- */

.login-container,
.registrieren-container,
.onboarding-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: normal;
    align-content: stretch;
}

.login-kasten,
.registrieren-kasten,
.onboarding-kasten {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.log-reg-buttons {
    background-color: #b3b3b3;
    /* Grey */
    border: 2px solid #4b4b4b;
    color: white;
    /* text colour*/
    padding: 10px 20px;
    /* wie viel Button um Text herum ist, höhe breite */
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 2px;
    /* rundet den Button leicht ab*/
}

/** Button wird blau bei hover */
.log-reg-buttons:hover {
    background-color: #a8d1d6;
    /* blau */
}

.adress-daten {
    display: flex;
    flex-direction: row;
}

#registrieren_pic {
    width: 50%
}

#onboarding_pic {
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
}

/**--------------------Hauptseiten-Gestaltung-------------------------*/


.searchButton {
    width: 40px;
    height: 36px;
    border: 1px dotted #a7a7a7;
    background: #a7a7a7;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.search {
    width: 100%;
    display: flex;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-bottom: 2vh;
}


#main-page-search {
    width: 20%;
    border: 3px solid #a7a7a7;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #aaaaaa;
}

#main-page-search:focus {
    color: #6acec9;
}

.main-table {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    outline: 1px dashed rgb(107, 107, 107);

    overflow-y: scroll;
}

.main-table-cell {
    display: flex;
    flex-direction: row;
    width: 26%;
    background: rgb(255, 255, 255);
    margin: 2%;
    flex: auto;
    text-align: center;

    min-height: 50px;
}

.main-table-entry {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    outline: 1px solid rgb(107, 107, 107);
}

.main-table-heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    outline: 1px solid rgb(107, 107, 107);
}

.main-table-heading:nth-child(1) {
    order: 1;
}

.main-table-heading:nth-child(2) {
    order: 3;
}

.main-table-heading:nth-child(3) {
    order: 4;
}

.main-table-entry:nth-child(1) {
    order: 1;
}

.main-table-entry:nth-child(2) {
    order: 2;
}

.main-table-entry:nth-child(3) {
    order: 3;
}

.main-table-entry:nth-child(4) {
    order: 4;

}

.main-table-text {
    white-space: nowrap;
    width: 75ch;
    overflow: hidden;
    text-overflow: ellipsis;
}


#new-topic-button {
    background-color: #b3b3b3;
    /* Grey */
    border: 2px solid #4b4b4b;
    color: white;
    /* text colour*/
    padding: 10px 20px;
    /* wie viel Button um Text herum ist, höhe breite */
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 2px;
    /* rundet den Button leicht ab*/
    margin-left: 5vh;
    margin-top: 2vh;
}

#new-topic-button:hover {
    background-color: #a8d1d6;
    /* blau */
}

.main-tab-pic {
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
}

/**--------------------Kontaktformular-------------------------*/

.kontakt-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    margin-left: 4vh;
}


#kontakt-heading {
    font-size: 24px;
}

/**--------------------Themenseite-Designanpassungen-------------------------*/
.flex-themenseite-oben {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    margin-left: 10%;
    width: 75%;
}

.flex-themenseite-themen {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

#back-button {
    margin-left: 10%;
}

.themen-oben-pic {
    width: 24vh;
    border-radius: 50%;
    margin-right: 5%;
    border-style: solid;
    border-color: #4b4b4b;
}

#themen-ueberschrift {
    font-size: 24px;
    margin-left: 3vh;
}

.flex-themenseite-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
}

.flex-themenseite-item:nth-child(2) {
    display: block;
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.flex-thema1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
    align-content: normal;

}


.flex-thema1-item:nth-child(2) {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-left: 2vh;
    border-style: solid;
    border-color: #4b4b4b;

}

.thema1-pic {
    width: 18vh;
    border-radius: 50%;
    margin-right: 5%;
    border-style: solid;
    border-color: #4b4b4b;
}