---
{
"title": "Hauptseite",
"template": "full-html",
"logged-in" : true
}
---

<img id="startseite-pic" alt="Ente" src="/public/images/main-page.jpg" />

<div class="search">

  <input id="main-page-search" type="text" placeholder="Search.." aria-required="true">
  <button type="submit" class="searchButton">
    <i class="fa fa-search"></i>
  </button>
</div>


<div class="main-table">
  <!--Überschriften der Tabelle -->
  <div class="main-table-heading">

    <div class="main-table-cell">
      <h3>Thema</h3>
    </div>
    <div class="main-table-cell">
    </div>
    <div class="main-table-cell">
      <h3>Reaktionen</h3>
    </div>
    <div class="main-table-cell">
      <h3>Letzte Nachricht</h3>
    </div>

  </div>
  <div class="main-table-entry">

    <div class="main-table-cell"> <img class="main-tab-pic" alt="Ente"
        src="/public/images//profile_pictures/p_blank.jpg" /></div>
    <div class="main-table-cell"><a href="/themenseite.hbs">Thema1</a></div>
    <div class="main-table-cell">12</div>
    <div class="main-table-cell">
      <p class="main-table-text"> "I must not fear. Fear is the mind-killer. Fear is the little-death that brings total
        obliteration. I will face my fear. I will permit it to pass over me and through me. And when it has gone past I
        will turn the inner eye to see its path. Where the fear has gone there will be nothing. Only I will remain."</p>
    </div>

  </div>
  <div class="main-table-entry">

    <div class="main-table-cell"><img class="main-tab-pic" alt="Ente" src="/public/images//profile_pictures/p2.jpg" />
    </div>
    <div class="main-table-cell"><a href="/themenseite.hbs">Thema2</a></div>
    <div class="main-table-cell">5</div>
    <div class="main-table-cell">
      <p class="main-table-text">I think I broke something,.., does anyone know how to fix a Nintendo Switch?</p>
    </div>

  </div>

  <div class="main-table-entry">
    <div class="main-table-cell"><img class="main-tab-pic" alt="Ente" src="/public/images//profile_pictures/p1.jpg" />
    </div>
    <div class="main-table-cell"><a href="/themenseite.hbs">Thema3</a></div>
    <div class="main-table-cell">anzahl2</div>
    <div class="main-table-cell">
      <p class="main-table-text">I play a lot of video games myself. I've done this before where I've played for 24
        hours straight. I remember everything that I played, even if it was a hard fought match in Super Mario Odyssey
        when I played it earlier today. However, I don't really have any memory of what I did for that 24 hours. I just
        don't forget, because as an adult I've learned that you have to put your phone away and go to bed at a
        reasonable hour.</p>
    </div>

  </div>

</div>

<button onclick="location.href='/themenseite.hbs'" id="new-topic-button" type="button" name="themen-button">
  Neues Thema erstellen
</button>