---
{
"title": "Impressum",
"template": "full-html"
}
---

    <div id="rahmenimpressum">

        <h4> Impressum </h4>
        <h5> Anschrift </h5>

        <p class="textImpressum">
            Staatlich anerkannte Fachhochschule Wedel
            Gemeinnützige Schulgesellschaft mbH <br>

            Feldstraße 143<br>
            D - 22880 Wedel<br>

            Geschäftsführender Gesellschafter und Verantwortlicher im Sinne des Pressegesetzes: Prof. Dr. Eike Harms<br>

            Tel.: +49 - (0)4103 - 8048 - 0<br>
            Fax: +49 - (0)4103 - 8048 - 39<br>
            E-Mail: eh@fh-wedel.de<br>

            Umsatzsteuer-Identifikationsnummer: DE 134 798 471
        </p>
        <h5> Zuständige Aufsichtsbehörde </h5>

        <p class="textImpressum">
            Ministerium für Soziales, Gesundheit, Wissenschaft und Gleichstellung
            des Landes Schleswig-Holstein<br>

            Brunswiker Straße 16-22<br>
            24105 Kiel<br>

            Tel.: +49 - (0)431 - 988 - 0<br>
            Fax: +49 - (0)431 - 988 - 5888
        </p>

        <h5> Ansprechpartner Pressestelle / Web-Auftritt </h5>

        <p class="textImpressum">
            Ansprechpartner für Presseinformationen der FH Wedel:<br>
            Nelly Tekhaus<br>
            E-Mail: nte@fh-wedel.de<br>

            Beatrix Behrendt<br>
            E-Mail: bbe@fh-wedel.de<br>

            Ansprechpartner für die Darstellung der FH Wedel auf zentraler Ebene:<br>
            Prof. Dr. rer. nat. Andreas Häuslein<br>
            E-Mail: hs@fh-wedel.de<br>
        </p>

        <h5> Technische Administration </h5>

        <p class="textImpressum">
            Technische Betreuung sowie Administration des WWW Servers und der Internetanbindung der FH Wedel:<br>
            Patric Schumann<br>
            E-Mail: admin@fh-wedel.de<br>

            Nachrichten über missbräuchliche Nutzung, die aus dem IP-Bereich fh-wedel.de entsendet werden, senden Sie
            bitte an<br>
            E-Mail: abuse@fh-wedel.de.<br>
        </p>

        <h5> Haftungsausschluss </h5>

        <p class="textImpressum">
            Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Richtigkeit, Vollständigkeit
            und Aktualität unserer Webseiten sowie für die Inhalte externer Links.
            Von den Inhalten der verlinkten Seiten - auf deren Gestaltung wir keinen Einfluss haben - distanzieren wir
            uns ausdrücklich.
            Diese Erklärung gilt für alle auf den Webseiten angebrachten Links und für alle Inhalte der Seiten, zu denen
            Links
            oder Banner führen.
        </p>
    </div>