---
{
"title": "Startseite",
"template": "full-html",
"Register": true,
"Startseite": true
}
---
<div class="startseite-container">
    <img id="startseite-pic" alt="Ente" src="/public/images/startseite-pic.jpg" />
    <div class="centered-right">
        <h4> Kurzbeschreibung </h4>
        <p>Hallo Welt. Ich bin eine Ente. Ich fahre gern 체bers Wasser und esse gerne Brot.</p>
        <p> Haben Sie diese Katze gesehen?</p>
    </div>
</div>

<div class="motivation-text">
    <article>
        <h1 id="startseite-ueberschrift"> Motivation</h1>
        ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
        kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

        <p>Duis a ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
            ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        Duis a ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
        ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
        feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
        delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
    </article>
</div>
<div class="startseite-kundenmeinungen"></div>
<h2 id="startseite-kundenm"> Kundenmeinungen</h2>
<div class="flex-kundenmeinungen">
    <div class="flex-items">
        <div class="flex-kundenmeinung-1">
            <div class="flex-its">
                <img id="kunde-pic-1" alt="Kunde 1" src="/public/images/startseite-pic.jpg" />
            </div>
            <div class="flex-it">
                <p> Wenn Sie mich fragen was ich von dieser Website halte, kann ich Ihnen nichts schlechtes erz채hlen.
                </p>
            </div>
        </div>
    </div>
    <div class="flex-items">
        <div class="flex-kundenmeinung-1">
            <div class="flex-it">
                <img id="kunde-pic-2" alt="Kunde 2" src="/public/images/startseite-pic.jpg" />
            </div>
            <div class="flex-it">
                <p> Hier habe ich endlich herausgefunden, was es bedeutet, wenn man wunschlos gl체cklich ist.</p>
            </div>
        </div>
    </div>
    <div class="flex-items">
        <div class="flex-kundenmeinung-1">
            <div class="flex-it">
                <img id="kunde-pic-3" alt="Kunde 3" src="/public/images/startseite-pic.jpg" />
            </div>
            <div class="flex-it">
                <p> Ich bin begeistert von dieser Website und w체rde all meinen Freunden empfehlen sich hier zu
                    registrieren.</p>
            </div>
        </div>
    </div>
</div>

<p>Oh Hi Visitor! </p>