---
{
"title": "Login",
"template": "full-html",
"Register": true
}
---


<div class="login-container">

    <div class="login-kasten">

        <h1> Überschrift </h1>

        <p> Login Text </p>

        <div class="log-reg-on-eingabe">
            <input class="log-reg-on-input" type="text" name="eingabe-nutzername" placeholder="Nutzername">
            <input class="log-reg-on-input" type="password" placeholder="Passwort" name="eingabe-passwort">
        </div>

        <button onclick="location.href='/hauptseite.hbs'" class="log-reg-on-buttons" type="submit" name="senden-knopf">
            Login
        </button>
    </div>

    <img id="login_pic" alt="Login Bild" src="/public/images/login_site.png" />
</div>