---
{
"title": "Login",
"template": "full-html",
"Register": true,
"style": ["style.css", "style-mobile.css"]
}
---

<div class="login-container">

    <div class="login-kasten">

        <div class="log-reg-kasten">

            <h1 class="log-reg-h1"> Überschrift </h1>
            <p class="log-reg-text"> Login Text </p>
        
            <div class="log-reg-on-eingabefelder">
                <input class="log-reg-on-input" type="text" name="eingabe-nutzername" placeholder="Nutzername">
                <input class="log-reg-on-input" type="password" placeholder="Passwort" name="eingabe-passwort">
            </div>

            <button onclick="location.href='/hauptseite.hbs'" class="log-reg-on-buttons" type="submit" name="senden-knopf">
                Login
            </button>

        </div>

    </div>


    <div class="log-reg-on-bild-kasten">
        <img id="login_pic" alt="Login Bild" src="/public/images/login_site.png" />
    </div>

</div>