---
{
"title": "Login",
"template": "full-html",
"Register": true
}
---


<div class="login-container">
    <div class="login-kasten">
        <h1> Überschrift </h1>
        <p> Login Text </p>
        <input type="text" name="eingabe-nutzername" value="Nutzername">
        <input type="password" placeholder="Passwort" name="eingabe-passwort">
        <button onclick="location.href='/hauptseite.hbs'" class="log-reg-buttons" type="submit" name="senden-knopf">
            Login
        </button>
    </div>
    <img id="login_pic" alt="Login Bild" src="/public/images/login_site.png" />
</div>