---
{
"title": "Profilseite",
"template": "full-html",
"logged-in": true
}
---

<div class="profil-container">

    <div class="profil-oben-kasten">
        <h2 class="h2-profil">Dein Profil</h2>
        <button onclick="location.href='/hauptseite.hbs'" class="zurück-hauptseite-button" type="submit"
            name="zurück-hauptseite">
            Zurück
        </button>
    </div>

    <div class="profil-daten-kasten">
        <div class="profilbild-kasten">
            <img class="pb-profil" src="/public/images/profile_pictures/p_blank.jpg" alt="Dein Profilbild">
            <button class="pb-ändern-button" type="button" name="pb-ändern">
                ändern
            </button>
        </div>

        <div class="profil-kasten">
            <div class="nutzer-angaben-kasten">

                <h3>Dein Account</h3>

                <div class="profil-daten-box">
                    <div class="flex-profildaten-beschreibung">
                        <p>Nutzername</p>
                        <p>E-Mail-Adresse</p>
                        <p>Passwort</p>
                    </div>

                    <div class="flex-profil-eingaben">
                        <input class="profil-daten-input" type="text" name="profil-nutzername" placeholder="Nutzername">
                        <input class="profil-daten-input" type="text" name="profil-e-mail" placeholder="E-Mail-Adresse">
                        <input class="profil-daten-input" type="password" name="profil-passwort" placeholder="Passwort">
                    </div>
                </div>


                <h3>Deine Informationen</h3>

                <div class="profil-daten-box">
                    <div class="flex-profildaten-beschreibung">
                        <p>Vorname</p>
                        <p>Nachname</p>
                        <p>PLZ / Stadt</p>
                        <p>Straße + Haus-Nr.</p>
                        <p>Deine Farbe</p>
                        <p>Dein Hobby</p>
                        <p>Dein Tier</p>
                    </div>

                    <div class="flex-profil-eingaben">
                        <input class="profil-daten-input" type="text" name="profil-vorname" placeholder="Vorname">
                        <input class="profil-daten-input" type="text" name="profil-nachname" placeholder="Nachname">
                        <div class="adress-daten">
                            <input class="plz-input" type="text" name="plz" placeholder="PLZ">
                            <input class="stadt-input" type="text" name="eingabe-stadt" placeholder="Stadt">
                        </div>
                        <input class="profil-daten-input" type="text" name="profil-straße"
                            placeholder="Straße + Haus-Nr.">
                        <input class="profil-daten-input" type="text" name="profil-farbe" placeholder="Deine Farbe">
                        <input class="profil-daten-input" type="text" name="profil-hobby" placeholder="Dein Hobby">
                        <input class="profil-daten-input" type="text" name="profil-tier" placeholder="Dein Tier">
                    </div>

                    <div class="flex-profil-schloss-icons">
                        <img class="lock-unlocked-pic" src="/public/images/lock_unlocked.png" alt="unlocked">
                        <img class="lock-unlocked-pic" src="/public/images/lock_unlocked.png" alt="unlocked">
                        <img class="lock-unlocked-pic" src="/public/images/lock_unlocked.png" alt="unlocked">
                        <img class="lock-locked-pic" src="/public/images/lock_locked.png" alt="locked">
                        <img class="lock-unlocked-pic" src="/public/images/lock_unlocked.png" alt="unlocked">
                        <img class="lock-unlocked-pic" src="/public/images/lock_unlocked.png" alt="unlocked">
                        <img class="lock-unlocked-pic" src="/public/images/lock_unlocked.png" alt="unlocked">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="profil-buttons-unten-reihe">
        <button class="profil-buttons-unten" type="button" name="profil-änderung-speichern">
            Änderung speichern
        </button>
        <button class="profil-buttons-unten" type="button" name="profil-änderung-verwerfen">
            Änderung verwerfen
        </button>
        <button class="profil-buttons-unten" type="button" name="profil-löschen">
            Profil löschen
        </button>
    </div>
</div>