---
{
"title": "Themenseite",
"template": "full-html",
"logged-in" : true
}
---
<div class="flex-themenseite-oben">
    <div class="flex-themenseite-item"> <img class="themen-oben-pic" alt="Ente"
            src="/public/images//profile_pictures/p_blank.jpg" /></div>
    <div class="flex-themenseite-item">
        <h3 id="themen-ueberschrift">Thema: Schönste Zimmerpflanzen.
        </h3>
    </div>
    <div class="flex-themenseite-item"><button onclick="location.href='/hauptseite.hbs'" id="back-button" type="button"
            name="back-button">
            Zurück zur Hauptseite
        </button></div>

</div>


<div class="flex-themenseite-themen">
    <ol class="ordered-themen-list">
        <li>
            <div class="flex-thema1">
                <div class="flex-thema1-item">
                    <!-- figure makes html think this is one item -->
                    <figure>
                        <a href="/profil-fremd.hbs"><img class="thema1-pic" alt="Ente"
                                src="/public/images//profile_pictures/p5.jpg" />
                        </a>
                        <figcaption> Monstera_girl </figcaption>
                    </figure>
                </div>
                <div class="flex-thema1-item">
                    <p> Ich finde es gibt nur eine wahrhaftig schöne Pflanze. Es sollte ja klar sein welche das ist.
                        Beliebt ist die Monstera nicht zuletzt auch aufgrund ihrer geringen Ansprüche an ihre Pflege.
                        Monsteras gedeihen zwar auch an halbschattigen und schattigen Standorten, ihre Blätter bilden
                        sich allerdings nicht so schön aus. Bekommen sie hingegen Licht von mehreren Seiten, entwickeln
                        sie besonders eindrucksvoll. Ideal ist es, wenn die Monstera an ihrem Standort Morgen- oder
                        Abendsonne abbekommt. Hast du einen entsprechenden Platz, kannst du das Fensterblatt im Sommer
                        auch draußen in den Halbschatten stellen.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="flex-thema-ao">
                <div class="flex-thema-ao-item">
                    <figure>
                        <a href="/profil-fremd.hbs"><img class="thema-ao-pic" alt="Ente"
                                src="/public/images//profile_pictures/p1.jpg" /> </a>
                        <figcaption> Only_flowers</figcaption>
                    </figure>
                </div>
                <div class="flex-thema-ao-item">
                    <p> Ich finde das Zimmerpflanzen gar nicht schön sind. Egal welche du magst. <br>
                        Blumen sind meine erste, letzte, einzige und für immer priorisierte Wahl!<br>
                        Du scheinst schlechten Geschmack zu haben und ich rate dir dieses Forumsthema zu löschen. Und
                        deinen Account eigentlich auch gleich noch dazu.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="flex-thema-ao">
                <div class="flex-thema-ao-item">
                    <figure>
                        <a href="/profil-fremd.hbs"><img class="thema-ao-pic" alt="Ente"
                                src="/public/images//profile_pictures/p2.jpg" /> </a>
                        <figcaption> peaceful-plant</figcaption>
                    </figure>
                </div>
                <div class="flex-thema-ao-item">
                    <p> Ich mag ja Sukkulenten sehr gern. Sie sind noch viel langlebiger und pflegeleichter als die
                        Monstera. Zudem kommen sie in allen möglichen Farben, Formen und Verbreitungsarten.
                        Ich habe einige in meinem Garten und eine Vielzahl mehr auf meiner Fensterbank.
                    </p>
                </div>
            </div>
        </li>

    </ol>
    <div class="flex-thema-new">
        <div class="flex-thema-new-item">
            <figure>
                <textarea name="newPost" rows="6" cols="40"> ... </textarea>
                <figcaption id="figcaption2"><button type="submit" formmethod="get">Submit Post.</button></figcaption>
            </figure>
        </div>
        <div class="flex-thema-new-item">
            <img class="thema-ao-pic" alt="Ente" src="/public/images//profile_pictures/p1.jpg" />
        </div>
    </div>

</div>