---
{
"title": "Themenseite",
"template": "full-html",
"logged-in" : true
}
---
<div class="flex-themenseite-oben">
    <div class="flex-themenseite-item"> <img class="themen-oben-pic" alt="Ente"
            src="/public/images//profile_pictures/p_blank.jpg" /></div>
    <div class="flex-themenseite-item">
        <h3 id="themen-ueberschrift">Topic: Really wanted to talk about this thought that's been in my head for a while.
        </h3>
    </div>
    <div class="flex-themenseite-item"><button onclick="location.href='/hauptseite.hbs'" id="back-button" type="button"
            name="back-button">
            Zurück zur Hauptseite
        </button></div>

</div>


<div class="flex-themenseite-themen">
    <ol class="ordered-themen-list">
        <li>
            <div class="flex-thema1">
                <div class="flex-thema1-item">
                    <!-- figure makes html think this is one item -->
                    <figure>
                        <a href="/profil-fremd.hbs"><img class="thema1-pic" alt="Ente"
                                src="/public/images//profile_pictures/p_blank.jpg" />
                        </a>
                        <figcaption> Name 1</figcaption>
                    </figure>
                </div>
                <div class="flex-thema1-item">
                    <p> So as you've read in the title, I wanted to talk about something that's been on my mind. I can't
                        really talk about this with anybody else.
                        But I've had an out of body experience. One day I woke up in Elon Musk's Body. And now I've
                        decided to make this topic consist out of his Twitter Posts. And only his Twitter Posts. Because
                        I'm amazed by the shitposting this billionaire is able to do. New random thoughts every day.
                        You'd think he wouldn't even have the time to be on Twitter for so long every day. It must be a
                        dream come true for him to finally own that website.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="flex-thema-ao">
                <div class="flex-thema-ao-item">
                    <figure>
                        <a href="/profil-fremd.hbs"><img class="thema-ao-pic" alt="Ente"
                                src="/public/images//profile_pictures/p1.jpg" /> </a>
                        <figcaption> Name 2</figcaption>
                    </figure>
                </div>
                <div class="flex-thema-ao-item">
                    <p> The far left hates everyone, themselves included! <br>
                        But I’m no fan of the far right either.<br>
                        Let’s have less hate and more love.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="flex-thema-ao">
                <div class="flex-thema-ao-item">
                    <figure>
                        <a href="/profil-fremd.hbs"><img class="thema-ao-pic" alt="Ente"
                                src="/public/images//profile_pictures/p2.jpg" /> </a>
                        <figcaption> Name 3</figcaption>
                    </figure>
                </div>
                <div class="flex-thema-ao-item">
                    <p> Peace. Peace? I hate the word. Those who do care about peace (myself aspirationally included)
                        don’t need to hear it. And those who don’t care about peace? Well …
                    </p>
                </div>
            </div>
        </li>

    </ol>
    <div class="flex-thema-new">
        <div class="flex-thema-new-item">
            <figure>
                <textarea name="newPost" placeholder="..." rows="6" cols="40"> </textarea>
                <figcaption id="figcaption2"><button type="submit" formmethod="get">Submit Post.</button></figcaption>
            </figure>
        </div>
        <div class="flex-thema-new-item">
            <img class="thema-ao-pic" alt="Ente" src="/public/images//profile_pictures/p1.jpg" />
        </div>
    </div>

</div>