<!-- ein Footer für unsere Website, beinhaltet Kontaktinformationen und Social Media -->

<footer class="weba_041-footer">
    <div class="flex-items-pageUp">
      <a href="#top"><img class="pageUp" src="/public/images/up.png" alt="PageUp"></a>
    </div>

    <div class="combined-footer-flex-container">
      <div class="second-footer-flex-container">
        <a href="/index.hbs"><img class="logo" src="public/images/logo.png" alt="Logo"></a>
        <p> Plants&Friends </p>
      </div>
      <div class="third-footer-flex-container">
        <a href="https://www.instagram.com/marianpgajda"><img class="footerElements" src="public/images/instagram.png"
            alt="Instagram"></a>
        <a href="https://twitter.com/elonmusk?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img
            class="footerElements" src="public/images/twitter.png" alt="Twitter"></a>
        <a href="https://www.facebook.com/search/top?q=fachhochschule%20wedel"><img class="footerElements"
            src="public/images/facebook.png" alt="FaceBook"></a>
      </div>
    </div>
    <div class="mobile-kontakt">
      <div class="flex-items">
        <a href="/kontakt.hbs">Kontakt</a>
      </div>
      <div class="flex-items">
        <a href="/impressum.hbs">Impressum</a>
      </div>
      <div class="flex-items">
        <a href="/datenschutz.hbs">Datenschutz</a>
      </div>

    </div>

</footer>