<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{page.title}} </title>
	<link rel="stylesheet" href="/public/styles/style.css">
</head>

<body>
	<!-- Header-Element -->
	{{include 'header'}}
	<main>{{content}}</main>
	<!-- Footer-Element -->
	{{include 'footer'}}
</body>

</html>