<!-- Template für den Header -->


<header class="flex-weba-header" id="top">

    <div class="flex-item-mp">
        <div class="flex-weba-header-child1">
            <a href="/index.hbs"><img id="header-logo" alt="LogoBild" src="/public/images/logo.png"></a>
            <p id="title-text">
                <b> Plants&Friends </b>
            </p>
        </div>
    </div>
    <div class="flex-item-mp">
        <div class="flex-weba-header-child2">
            {{#if page.Startseite}}
            {{include 'navigation'}}
            {{/if}}
        </div>
    </div>
    <div class="flex-item-mp">
        <div class="flex-weba-header-child3">
            {{#if page.Register}}
            <ul>
                <li>
                    <button onclick="location.href='/registrieren.hbs'" class="log-reg-buttons" type="button"
                        name="register-button">
                        Registrieren
                    </button>
                </li>
                <li><button onclick="location.href='/login.hbs'" class="log-reg-buttons" type="button"
                        name="register-button">
                        Login
                    </button>
            </ul>
            {{/if}}
            <div class="header-logged-in">
                {{#if page.logged-in}}
                <button onclick="location.href='/index.hbs" class="log-reg-buttons" type="submit" name="logout-button">
                    Logout
                </button>
                <a href="/profil-selbst.hbs"><img id="header-user-pic" alt="Kunde 3"
                        src="/public/images/profile_pictures/p1.jpg" /></a>
                {{/if}}
            </div>
        </div>
    </div>

</header>