<!-- Template für den Header -->


<header class="flex-weba-header">

    <div class="flex-items">
        <div class="flex-weba-header-child1">
            <img class="logo" alt="LogoBild" src="/public/images/logo.png">
            <p id="title-text">
                <b> Titel </b>
            </p>
        </div>
    </div>
    <div class="flex-items">
        <div class="flex-weba-header-child2">
            {{#if page.Startseite}}
            {{include 'navigation'}}
            {{/if}}
        </div>
    </div>
    <div class="flex-items">
        <div class="flex-weba-header-child3">
            {{#if page.Register}}
            <a href="/registrieren.hbs"> Registrieren</a>
            <a href="/login.hbs">Login</a>
            {{/if}}
        </div>
    </div>

</header>