<!-- Template für die Navigationsleiste der Startseite. -->
<nav>
  <div class="nav">
    <a href="/pages/kontakt.hbs">Kurzbeschreibung</a>
    <a href="/pages/datenschutz.hbs">Motivation</a>
    <a href="/impressum.hbs">Kundenmeinung</a>
  </div>
</nav>