<!-- Template für die Navigationsleiste der Startseite. -->
<nav>
  <div class="nav">
    <a href="/index.hbs#kurzbeschreibung">Kurzbeschreibung</a>
    <a href="/index.hbs#motivation-text">Motivation</a>
    <a href="/index.hbs#kunde-pic-1">Kundenmeinung</a>
  </div>
</nav>